<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCn6VZepk_6xfLgQxSRWcuqJwyTpdIldIA</string>
	<key>GCM_SENDER_ID</key>
	<string>294280061802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.syr.ToDoFirebaseSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>todolist-e2493</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-e2493.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:294280061802:ios:8e346b11afd130b5f6fb13</string>
</dict>
</plist>